body{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#calculator{
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px;
  width: 500px;
}

#calc-mid{
  column-gap: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 5px;
}
