:root{
  --font-size: 30px;
}

body{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size)
}

#backspace{
  flex-grow: 1;
}

#calculator{
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px;
  width: 500px;
  font-size: var(--font-size)
}

#calc-bottom{
  flex-grow: 1;
}

#calc-mid{
  column-gap: 5px;
  display: grid;
  flex-grow: 4;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 20px 0px;
  row-gap: 5px;
}

#calc-top{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

#display{
  flex-grow: 3;
  text-align: right;
  vertical-align: middle;
}
