#calc-mid{
  column-gap: 5px;
  display: grid;
  gap: 5px 5px;
  grid-template-columns: repeat(3, 1fr) [num-col-end] 1fr;
  grid-template-rows: 1fr [num-row-start] repeat(4, 1fr) [num-row-end] 1fr;
  grid-template-areas:
    "display display display backspace"
    "nums nums nums operators"
    "nums nums nums operators"
    "nums nums nums operators"
    "nums nums nums operators"
    ". clear clear .";
  row-gap: 5px;
}
