body{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#backspace{
  grid-area: backspace;
}

#calc-top{
  margin-bottom: 40px;
}

#clear-button{
  grid-area: clear;
}

#display{
  font-size: 35px;
  grid-area: display;
  line-height: 95px;
  padding-right: 5px;
  text-align: right;
  vertical-align: middle;
}

#calculator{
  display: grid;
  gap: 5px 5px;
  grid-template-areas:
    "display display display backspace"
    "numpad numpad numpad operators"
    "numpad numpad numpad operators"
    "numpad numpad numpad operators"
    "numpad numpad numpad operators"
    ". clear clear .";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 600px;
  margin-top: 130px;
  width: 500px;
}

#footer{
  margin-bottom: 50px;
}

#numpad{
  display: grid;
  grid-area: numpad;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#operators{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: operators;
}

#operators button{
  flex-grow: 1;
}


